<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "edu.iupui.stp.FinalProject"
        version     = "1.0.0" >

    <name>Minefall</name>

    <description>
        A simple description for the Minefall app.
    </description>

	<gap:platform name="ios"/>
	<feature name="Camera">
		<param name="ios-package" value="CDVCamera"/>
	</feature>
	<gap:plugin name="org.apache.cordova.camera" version="0.3.2"/>
	<gap:plugin name="org.apache.cordova.media" version="0.2.13"/>
	<preference name="DisallowOverscroll" value="true"/>
	<preference name="Orientation" value="portrait"/>
</widget>
